node-linker=hoisted

# In order to cache Prisma correctly
public-hoist-pattern[]=*prisma*

# FIXME: @prisma/client is required by the @cloud-party/auth,
# but we don't want it installed there since it's already
# installed in the @cloud-party/db package
strict-peer-dependencies=false

auto-install-peers=true
legacy-peer-deps=true
